.project {
    border-top: .1rem solid var(--c-lightest);
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.project__title {
    font-size: 2rem;
    margin-bottom: .5rem;
}

.project__desc {
    margin-bottom: .5rem;
}