@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');

:root {
    --c-lightest: #ffffff;
    --c-darkest: #1A1A1A;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--c-darkest);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1.6rem;
    color: #ffffff;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
}

.main {
    width: 90%;
    max-width: 80rem;
    margin: 0 auto;
}